button.button {
  appearance: none;
  border: 1px solid #fff;
  padding: 1rem;
  background-color: transparent;
  color: #000;
  cursor: pointer;
  transition: all 0.23s ease-in-out;
  box-shadow: 1px 1px 3px #fff;

  &:hover {
    background-color: #000;
    color: #fff;
    box-shadow: 1px 1px 3px #000;
  }
}

.pop-card {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: cornflowerblue;
  padding: 28px;
  border-radius: 3px;
  box-shadow: 0 0 8px -3px #000;
  z-index: 99999999;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  display: none;
  text-align: center;
  color: #fff;
  width: 450px;
  max-width: 100%;

  p {
    font-size: 20px;
  }

  &.open {
    display: flex;
  }

  a {
    background-color:#33ae3f;
    color:#ffffff;
    border: 0px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    text-transform: capitalize;
    padding: 13px 24px;
    text-decoration: none;
    text-align: center;
    line-height: 14px;
    display: inline-block;
    cursor: pointer;
    margin-left: 1rem;
  }

  &-close {
    position: absolute;
    top: 8px;
    right: 8px;
    font-weight: bold;
    background-color: transparent;
    border: 0;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    transition: color 0.3s ease-in-out; 

    &:hover {
      color: #000;
    }
  }
}



.logo img {
  display: block;
  filter: grayscale(1) brightness(3.5);
  object-fit: contain;
  margin-top: 6px;
}

.head-logo {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 999;

  img {
    filter: grayscale(1) brightness(3.5);
  }
}

.inner {
  max-width: 95%;
  margin: 0 auto;
}

.footer {
  padding: 3rem;
}

.header {
  padding: 0 1.5rem;
  width: 100%;
  background-color: #1c1c1c;
  position: fixed;
  top: 0;
  z-index: 999;
  @media all and (min-width: 575px) {
    height: auto;
    background-color: #1c1c1c;
  }
  .ent {
    border-bottom: 0;
    padding: 0;
    &:hover {
      border-bottom: 0;
      
      img {
        mix-blend-mode: overlay;  
      }
    }
    img {
      display: block;
      filter: grayscale(1) brightness(3.5);
      object-fit: contain;
      transition: all 0.3s ease-out;
    }
  }

  .yoga {
    border-bottom: 0;
    padding: 0;
    &:hover {
      border-bottom: 0;
      img {
        mix-blend-mode: overlay;  
      }
    }
  }

  .menu-button {
    top: 15px;
    right: 15px;
    z-index: 99999;
    background: transparent;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    max-width: 95%;
    @media all and (min-width: 575px) {
      display: none;
    }
  }

  nav  {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;

    @media all and (min-width: 575px) {
      justify-content: space-between;
      flex-direction: row;
      height: auto;
    }

    .menu-items {
      display: flex;
      flex-direction: column;
      align-items: center;
      @media all and (min-width: 575px) {
        flex-direction: row;
      }
    }

    &.nav-open {
      height: 100vh;
      @media all and (min-width: 575px) {
        height: auto;
      }
    }
    &.nav-closed {
      height: 0vh;
      @media all and (min-width: 575px) {
        height: auto;
      }
    }

    .menu-button {
      display: block;
      @media all and (min-width: 575px) {
        display: none;
      }
    }
    a {
      padding: 0.25rem 0.25rem;
      font-size: 20px;
      letter-spacing: 1.5px;
      border-bottom: 1px solid transparent;
      background-color: transparent;
      transition: all 0.34s ease-in-out;
      color: #fff;
      text-transform: uppercase;
      margin-left: 1rem;
      margin-right: 1rem;

      &:hover {
        border-bottom: 1px solid #82B7DC;
        color: #82B7DC;
      }
    }
    a.logo {
      &:hover {
        border-bottom: 0;
      }
    }
  }
}
footer {
  padding: 1rem 0;
  width: 95%;
  margin: 0 auto;
  max-width: 1260px;
}

@import "../pages/*.scss";