.home {
  .hero {
    position: relative;
    h1 {
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translateX(-50%);
      width: 95%;
      margin: 0 auto;
      text-align: center;
      font-size: 42px;
    }
  }
}