.home {
  .hero {
    position: relative;
    h1 {
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translateX(-50%);
      width: 95%;
      margin: 0 auto;
      text-align: center;
      font-size: 42px;
      color: #fff;
    }
  }

  .split-media {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    @media all and (min-width: 575px) {
      flex-direction: row;
      padding: 3rem 0;
    }

    > div,
    > img  {
      flex: 1 1 50%;
    }

    &__content {
      padding: 1rem;
      @media all and (min-width: 575px) {
        padding: 2rem;
      }
      h2 {
        font-size: 36px;
        font-weight: bold;
        @media all and (min-width: 575px) {
          font-size: 56px;
        }
      }
      p {
        font-size: 24px;
      }
    }
  }

  .testimonials {
    background-color: #F3E4D8;
    padding: 4rem 0;
    text-align: center;

    .react-multi-carousel-list {
      max-width: 768px;
      margin: 0 auto;
    }
    .react-multi-carousel-track {
      align-items: center;
    }

    .react-multiple-carousel__arrow--right {
      right: 0;
    }
    .react-multiple-carousel__arrow--left {
      left: 0;
    }

    .react-multi-carousel-item {
      blockquote {
        margin: 0 5rem;
        font-size: 20px;
        cite {
          font-size: 18px;
        }
      }
    }
  }
}